<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>
	<h1>Walle</h1>
	
	<div class="alert" th:if="${message != null}" th:text="${message}"></div>
	
	<div class="card">
		<nav th:include="_template :: menu('comerciante')"></nav>
		<a href="/comerciante/new" class="button primary action">
			<span class="material-icons">
				add_circle_outline
			</span>
			<span th:text="#{label.newcomerciante}"></span>
		</a>
		
		<div class="comerciantes">
			<div class="card comerciante" th:each="comerciante : ${comerciantes}">
				<div>
					<h3 th:text="${comerciante.title}"></h3>
					
				</div>
				<p th:text="${comerciante.description}"></p>
				
				
				<div class="comerciante-actions">
					<img class="avatar" alt="ower" src="https://avatars.githubusercontent.com/u/52768523?s=400&u=ac74ef2598da17fc42d1794c6a80943c4465697d&v=4">
					<!-- <img class="avatar" alt="ower" src="https://avatars.githubusercontent.com/u/61791016?v=4"> -->
					<button class="icon primary" th:title="#{comerciante.update}">
						<span
						class="material-icons yellow">update</span>
					</button>	
					<button class="icon primary" th:title="#{comerciante.delete}">	
						 <span
						class="material-icons red">delete</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>